/* styles.css */

.App {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

/* styles.css */

/* ... (other styles) */

form {
  background-color: #fff;
  padding: 10px; /* Reduce overall padding */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-width: 300px; /* Limit the maximum width of the form */
  margin: 0 auto; /* Center the form horizontally */
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 5px; /* Reduce padding for input fields */
  margin: 5px 0;
}

input[type="submit"],
input[type="reset"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px 5px; /* Reduce margin between buttons */
  border-radius: 5px;
  cursor: pointer;
}

/* ... (other styles) */


button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #007bff;
  color: #fff;
}
